<h2>Burgers to Eat</h2>

<ul>
  {{#each EatBurger}}
  <li>
    <p>
      {{!-- {{this.id}}.  --}}
      {{this.EatBurger}}

      <button data-burgerid="{{this.id}}" class="eatBurger">Eat the Burger!</button>
    </p>
  </li>
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form id="addBurger" class="button-size">
  <textarea type="text" name="burger"></textarea>
  <button type="submit">Add a Burger!!</button>
</form>


<h2>Burgers that have been Eaten</h2>
<ul>
  {{#each EatenBurger}}
  <li>
    <p>
      {{this.id}}. {{this.EatenBurger}}

    </p>
  </li>
  {{/each}}
</ul>